##### 인터파크 - 베스트셀러

In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

1.

In [5]:
# http://book.interpark.com/display/collectlist.do?_method=bestsellerHourNew&bookblockname=b_gnb&booklinkname=%BA%A3%BD%BA%C6%AE%C1%B8&bid1=w_bgnb&bid2=LiveRanking&bid3=main&bid4=001
url = 'http://book.interpark.com/display/collectlist.do?_method=bestsellerHourNew&bookblockname=b_gnb&booklinkname=%BA%A3%BD%BA%C6%AE%C1%B8&bid1=w_bgnb&bid2=LiveRanking&bid3=main&bid4=001'
res = requests.get(url)
soup = BeautifulSoup(res.text)

In [7]:
lis = soup.select('.rankBestContentList > ol > li')
len(lis)

15

In [8]:
li = lis[0]

- rank
    - rankBtn_ctrl rkNum (1 ~ 9위)
    - rankBtn_ctrl rkNum_N01, rankBtn_ctrl rkNum_M03 (10 ~ 15위)

In [11]:
li1, li13 = lis[0], lis[12]
li1.select('.rankBtn_ctrl')
li13.select('.rankBtn_ctrl')

[<span class="rankBtn_ctrl rkNum_M01"></span>,
 <span class="rankBtn_ctrl rkNum_M03"></span>]

In [12]:
li1.select_one('.rankBtn_ctrl')['class']

['rankBtn_ctrl', 'rkNum_B01']

In [13]:
rank_data = li.select('.rankBtn_ctrl')
if len(rank_data) == 1:
    rank = rank_data[0]['class']
    print(rank)

['rankBtn_ctrl', 'rkNum_B01']

In [18]:
rank_data = li.select('.rankBtn_ctrl')
if len(rank_data) == 1:
    rank = int(rank_data[0]['class'][-1][-1])
else:
    rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1])

In [26]:
# 제목
title = li.select_one('.itemName').get_text().strip()
title

'세이노의 가르침'

In [27]:
# 저자
author = li.select_one('.author').get_text().strip()
author

'세이노'

In [28]:
# 출판사
company = li.select_one('.company').get_text().strip()
company

'데이원'

In [31]:
#가격
price = li.select_one('.price > em').get_text().strip()
price = int(price.replace(',',''))
price

6480

#### 4

In [33]:
lines = []
for li in lis:
    rank_data = li.select('.rankBtn_ctrl')
    if len(rank_data) == 1:
        rank = int(rank_data[0]['class'][-1][-1])
    else:
        rank = int(rank_data[0]['class'][-1][-1] + rank_data[1]['class'][-1][-1])
    title = li.select_one('.itemName').get_text().strip()
    author = li.select_one('.author').get_text().strip()
    company = li.select_one('.company').get_text().strip()
    price = li.select_one('.price > em').get_text().strip()
    lines.append({'순위':rank, '제목':title, '저자':author, '출판사':company, '가격':price})

In [38]:
pd.DataFrame(lines)

,순위,제목,저자,출판사,가격
0,1,세이노의 가르침,세이노,데이원,"6,480"
1,2,이지성의 1만 킬로미터,이지성,차이정원,"16,200"
2,3,건강과 다이어트를 동시에 잡는 7대 3의 법칙 채소·과일식,조승우,바이북스,"17,100"
3,4,흔한남매 13,"흔한남매, 백난도/유난희 그림/흔한컴퍼니 감수",미래엔아이세움,"13,050"
4,4,고래,천명관,문학동네,"13,500"
5,6,오십의 기술,이호선,카시오페아,"16,200"
6,7,감정에 휘둘리는 아이 감정을 잘 다루는 아이,손승현,빅피시,"15,120"
7,7,몰입 합본판,,알에이치코리아,"28,800"
8,7,요즘 어른을 위한 최소한의 맞춤법,이주윤,빅피시,"15,120"
9,7,설민석의 한국사 대모험 24,"설민석, 스토리박스/정현희 그림/강석화 감수",단꿈아이,"11,700"
10,7,내면소통,김주환,인플루엔셜,"29,700"
11,7,이미 늦었다고 생각하는 당신을 위한 김미경의 마흔 수업,김미경,어웨이크북스,"16,200"
12,13,사랑해 사랑해 사랑해(출간 15주년 기념판),버나뎃 로제티 슈스탁/신형건 역/캐롤라인 제인 처치 그림,보물창고,"10,620"
13,13,꽃을 보듯 너를 본다,,지혜,"9,900"
14,13,돈의 속성(200쇄 리커버에디션),김승호,스노우폭스북스,"16,020"