3. 고급 인덱싱

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["x", "y", "z"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

- 3.1 loc 인덱서
    - 인수가 한 개인 경우: 행 선택

In [3]:
df.loc['y']         # 행을 시리즈로 출력

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [4]:
df.loc['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [5]:
df['x':'y']

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [6]:
df.A > 15

x    False
y    False
z     True
Name: A, dtype: bool

In [7]:
df[df.A > 15]

    A   B   C   D
z  18  19  20  21

- 인수가 두 개인 경우

In [8]:
df.loc['y', 'B']        # 행 인덱스, 열 인덱스

15

In [10]:
df.loc['y':'z', 'B':'C']

    B   C
y  15  16
z  19  20

- 3.2 iloc 인덱서

In [9]:
df

    A   B   C   D
x  10  11  12  13
y  14  15  16  17
z  18  19  20  21

In [11]:
df.iloc[1]      # 'y' 행, 인덱스 값은 1

A    14
B    15
C    16
D    17
Name: y, dtype: int32

In [12]:
df.iloc[:2]     # 숫자니까 행 인덱스 값 2는 포함되지 않는다

    A   B   C   D
x  10  11  12  13
y  14  15  16  17

In [13]:
df.iloc[1, 1]

15

연습 문제 4.3.1