- 정렬

In [23]:
import numpy as np
import pandas as pd

In [5]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

- 연습 문제 4.4.3

In [2]:
# 1. 타이타닉호 승객의 평균 나이를 구하라.

In [3]:
# 2. 타이타닉호 승객중 여성 승객의 평균 나이를 구하라.

In [4]:
# 3. 타이타닉호 승객중 1등실 선실의 여성 승객의 평균 나이를 구하라.

In [4]:
df[ df.v > 50]

NameError: name 'df' is not defined

- 연습문제 4.4.5

In [5]:
titanic['cat1'] = titanic.apply(lambda x: x.sex if x.age > 20 else 'child', axis=1) titanic.tail()

SyntaxError: invalid syntax (598150457.py, line 1)

In [6]:
cat2 = []
for i in titanic.index:
    if titanic.age[i] > 20:
        cat2.append(titanic.sex[i])
    else:
        cat2.append('child')

titanic['cat2'] = cat2

In [7]:
titanic.tail(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,cat2
886,0,2,male,27.0,0,0,13.00,S,Second,man,True,NaN,Southampton,no,True,male
887,1,1,female,19.0,0,0,30.00,S,First,woman,False,B,Southampton,yes,True,child
888,0,3,female,NaN,1,2,23.45,S,Third,woman,False,NaN,Southampton,no,False,child
889,1,1,male,26.0,0,0,30.00,C,First,man,True,C,Cherbourg,yes,True,male
890,0,3,male,32.0,0,0,7.75,Q,Third,man,True,NaN,Queenstown,no,True,male

- 결측치 처리

In [15]:
dt = sns.load_dataset('titanic')

In [13]:
# 결측치 있는지 확인
dt.isna().sum().sum()

869

In [10]:
# deck 결측치가 너무 많아서 컬럼 삭제
# del dt['deck']
dt.drop(columns=['deck'], inplace=True)
dt.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,Southampton,yes,True

In [18]:
# age 결측치는 평균으로 대체
dt.fillna(dt.age.mean().round(3), inplace= True)
dt.tail(3)

TypeError: Cannot setitem on a Categorical with a new category (29.699), set the categories first

In [14]:
# embarked 결측치는 최빈값으로 대체
dt.embarked.value_counts()

embarked
S    644
C    168
Q     77
Name: count, dtype: int64

In [1]:
# embark_town 결측치는 행 삭제
dt.dropna(subset=['embark_town'], inplace=True)
dt.isna().sum().sum()

NameError: name 'dt' is not defined

In [19]:
dt.shape

(891, 15)

- astype

In [24]:
data = {
    'price1' : ['1200', '24000', '3600'],
    'price2' : ['1,200', '24,000', '3,600']
}
df4 = pd.DataFrame()
df4

Empty DataFrame
Columns: []
Index: []

In [25]:
type(df4.price1[0]), type(df4.price2[0])

AttributeError: 'DataFrame' object has no attribute 'price1'

In [26]:
df4['int1'] = df4.price1.astype(int)
df4

AttributeError: 'DataFrame' object has no attribute 'price1'

In [27]:
type(df4.price1[0]), type(df4.int1[0])

AttributeError: 'DataFrame' object has no attribute 'price1'

In [28]:
df4['int2'] = df4.price2.apply(lambda x: int(xmreplace(',','')))

AttributeError: 'DataFrame' object has no attribute 'price2'

In [29]:
df4['int3'] = df4.price2.replace(',','').astype(int)
type(df4.int1[0]), type(df4.int2[0]), type(df4.int3[0])

AttributeError: 'DataFrame' object has no attribute 'price2'

- 실수 값을 카테고리 값으로 변환

In [34]:
import numpy as np
import pandas as pd

In [35]:
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 101]

In [36]:
bins = [1, 20, 30, 50, 70, 100]             # 1 < 미성년자 <= 20
labels = ["미성년자", "청년", "중년", "장년", "노년"]
cats = pd.cut(ages, bins, labels=labels)
cats

[NaN, '미성년자', '미성년자', '청년', '청년', ..., '장년', '미성년자', '중년', '중년', NaN]
Length: 12
Categories (5, object): ['미성년자' < '청년' < '중년' < '장년' < '노년']

In [48]:
df5 = pd.DataFrame(ages, columns=["ages"])
df5["age_cat"] = pd.cut(df5.ages, bins, labels=labels)
df5

    ages age_cat
0      0     NaN
1      2    미성년자
2     10    미성년자
3     21      청년
4     23      청년
5     37      중년
6     31      중년
7     61      장년
8     20    미성년자
9     41      중년
10    32      중년
11   101     NaN

In [51]:
df5['one_over_n'] = pd.qcut(ages, 4, labels=['Q1','Q2','Q3','Q4'])
df5

    ages age_cat one_over_n
0      0     NaN         Q1
1      2    미성년자         Q1
2     10    미성년자         Q1
3     21      청년         Q2
4     23      청년         Q2
5     37      중년         Q3
6     31      중년         Q3
7     61      장년         Q4
8     20    미성년자         Q2
9     41      중년         Q4
10    32      중년         Q3
11   101     NaN         Q4

In [53]:
df.폐지여부.value_counts()

NameError: name 'df' is not defined

- filtering / Selection

In [41]:
# 폐지된 주소는 삭제하도록 필터링

df= df[df.폐지여부 == '존재']
df.shape

NameError: name 'df' is not defined

- 인덱싱

In [44]:
df. 법정동명.str[:5].head()

NameError: name 'df' is not defined

In [45]:
df.head()

NameError: name 'df' is not defined

In [46]:
df.법정동명.str.find('종로구').head()

NameError: name 'df' is not defined

In [47]:
df.법정동명.str.contains('종로구').head()

NameError: name 'df' is not defined

In [54]:
df1 = df[df.법정동명.str.contains('경기도')]
print(df1.shape)
df1.head()

NameError: name 'df' is not defined

In [55]:
# 수원시만 추출
df2= df1[df1.법정동명.str.contains('수원시')]
print(df2.shape)
df2.head()

NameError: name 'df1' is not defined

In [56]:
df2.법정동명[4913], df2.iloc[2, 1]

NameError: name 'df2' is not defined

- 분할: split

In [ ]:
df2.법정동명.str.split().head()

In [57]:
df2.법정동명.str.replace('[사-잏]', ' ', regex=True).head()

NameError: name 'df2' is not defined

- cctv 데이터

In [63]:
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
cctv = pd.read_csv(filename, encoding='euc-kr')
cctv.head()

UnicodeDecodeError: 'euc_kr' codec can't decode byte 0xb6 in position 5: illegal multibyte sequence

In [64]:
columns = '구분, 총계,"2013년이전 설치된 CCTV", 2013년, 2014년, 2015년, 2016년, 2017년, 2018년, 2019년, 2020년, 2021년, 2022년'
cctv = cctv[columns]
cctv.head

NameError: name 'cctv' is not defined

In [65]:
for col in columns[2:]:

SyntaxError: incomplete input (3475563726.py, line 2)

In [ ]:
for i cctv.index:
    print()

In [66]:
cctv = pd.read_csv(filename, encoding='euc-kr', 
                   names=columns)
cctv.head()

UnicodeDecodeError: 'euc_kr' codec can't decode byte 0xbd in position 33041: illegal multibyte sequence