경기도내 인구소멸 위기지역 Top 10

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/시군별_연령별_인구_외국인제외__20230417170112.csv', sep='\t', encoding='euc-kr')
df.head()

  연령별(1),2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022
0  연령별(1),합계,합계,합계,수원시,수원시,수원시,용인시,용인시,용인시,성남시,성남...
1  연령별(1),계,남,여,계,남,여,계,남,여,계,남,여,계,남,여,계,남,여,계,남...
2  합계,13589432,6839276,6750156,1190964,599619,591...
3  0~4세,426327,218056,208271,36062,18585,17477,33...
4  5~9세,614627,314574,300053,50717,26170,24547,53...

In [1]:
# 특례시, 구(행정구)가 있는 도시

In [4]:
# 5) 원하는 행만 가져오기(Filtering)

In [ ]:
# 수원시, 용인시 등 구가 있는 시는 제거
gu_city = ['수원시', '고양시', '용인시', '성남시', '안산시', '안양시']
pop.행정구역명 = poppop.행정구역명.str.strip()
drop_index = []
for index in pop[pop.행정구역명 == '시군'].index:
    if pop.행정구역명[index] in gu_city:
        pop.drop([index], inplace=True)
            drop_index.append(index)
drop_index

In [3]:
# 6) 인구소멸비율이 낮은 인수소멸위험지역 Top 10
pop.sort.values(by='인구소멸비율').head(10)